main > .container {
    padding: 70px 15px 20px;
    background-color: #539122;
    border: #e8e8e8 5px solid;
    border-style: dashed
}

body {
    background-color: #539122;
}

.footer {
    background-color: #343a40;
    border: #e8e8e8 3px solid;
    font-size: .9em;
    height: 160px;
}

.navbar {
    border: #e8e8e8 3px solid;
}

.footer > .container {
    background-color: #539122;
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #343a40;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #343a40;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 3px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #e8e8e8;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: #e8e8e8
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: #e8e8e8;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.imageMainWidth {
    width: 640;
}

.imageMainHeight {
    height: 490;
}

.textoPropio {
    text-decoration: #e8e8e8;
}

.bordeDecorativo {
    border: #e8e8e8;
}

.body-content {
    margin-left: 236px;
}

.card.alturaminima {
    background-color: #539122 !important;
    border: 9px solid #e8e8e8 !important;
    width: 400px;
    margin: 60px;
}

.card.alturaminima-temporiz {
    background-color: #539122 !important;
    border: 9px solid #e8e8e8 !important;
    width: 988px;
    margin: 40px;
    text-align: center;
}

.card.alturaminima-fichequipo-uno {
    background-color: #539122 !important;
    border: 9px solid #e8e8e8 !important;
    width: 194px;
    margin-left: 40px;
    text-align: center;
}

.card.alturaminima-fichequipo-dos {
    background-color: #539122 !important;
    border: 9px solid #e8e8e8 !important;
    width: 199px;
    margin-left: -73px;
    text-align: center;
}

.card.alturaminima-eventos {
    background-color: #539122 !important;
    border: 9px solid #e8e8e8 !important;
    width: 603px;
    height: 415px;
    overflow-y: auto !important;
    text-align: center;
    box-sizing: border-box !important;
    margin-left: -6%;
}

.card.alturaminima-eventos-ex {
    background-color: #539122 !important;
    border: 9px solid #e8e8e8 !important;
    width: 603px;
    height: 566px;
    text-align: center;
    margin-left: -6%;
}

.fila-tarjetas {
    margin: 10px -76px 5px;
    margin-left: -290px;
}

.fila1 {
    margin: 40px 0;
}

.fila2 {
    margin: 20px 0;
}

.text-center {
    color: #e8e8e8;
}

.display-4 {
    color: #e8e8e8;
    font-weight: bold;
    font-size: 300%;
}

.float-left, .float-right {
    color: #e8e8e8;
    font-size: 109%;
}

.jugadores-index, .entrenadores-index, .estadios-index, .partidos-index, .goles-index, .dashboard-index, .jugadores-create, .jugadores-form,
.entrenadores-create, .entrenadores-form, .estadios-create, .estadios-form, .partidos-create, .partidos-form, .goles-create, .goles-form,
.jugadores-update, .entrenadores-update, .estadios-update, .partidos-update, .goles-update, .jugadores-view, .entrenadores-view, .estadios-view, 
.partidos-view, .goles-view, .dashboard-create-team1, .dashboard-create-team2, .dashboard-create-allteams, .grid-view td, .detail-view td {
    color: #e8e8e8;
}

.grid-view tr, a, .a:hover {
    color: #343a40;
}

.margenInicial {
    margin-top: 35px !important;
}

.lead {
    margin-top: 35px;
    font-weight: 490;
    font-size: 145%;
}

.color-icono-crear, .btn.btn-primary, .btn.btn-danger, .btn.btn-success {
    border: 3px solid #e8e8e8 !important;
    background-color:#343a40
}

.site-index {
    background-color: #539122;
}

.team-row {
    display: flex;
}

.team {
    margin: 0 9px; /* Adjust as needed */
}

.encabezado-logotipo {
    margin-bottom: 61px;
}

.logo-img {
    width: 200px;
    height: 200px;
}